<!-- * * * * * * * * * * Start of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-cc-date-time-picker [from]="from" [to]="to" [selectMode]="selectMode" [pickerType]="pickerType"
  [language]="language" [pickerTriggerType]="pickerTriggerType" (onchanged)="onChanged($event)" #dtpicker>
</app-cc-date-time-picker>
<!-- <app-cc-date-time-picker></app-cc-date-time-picker> -->

<div class="playgroundContainer">
  Language:
  <select [(ngModel)]="language">
    <option *ngFor="let option of pickerLanguageList" [value]="option">{{option}}</option>
  </select>

  <br>Button Type:
  <select [(ngModel)]="pickerTriggerType">
    <option *ngFor="let option of pickerTriggerTypeList" [value]="option">{{option}}</option>
  </select>

  <br>Select mode:
  <select [(ngModel)]="selectMode">
    <option *ngFor="let option of selectModes" [value]="option">{{option}}</option>
  </select>

  <br>Picker type:
  <select [(ngModel)]="pickerType">
    <option *ngFor="let option of pickerTypes" [value]="option">{{option}}</option>
  </select>
</div>
<!-- * * * * * * * * * * End of Example * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
