$primary-color: #ff4a85;
$primary-color-hover: rgb(165, 37, 79);
$secondary-color: #fff;
$secondary-color-hover: rgb(177, 177, 177);
$backdrop: rgba(0, 0, 0, 0.7);
$border-color: #dedede;
$border-radius: 0.3rem;
